# Archivos compilados de Java
*.class

# Archivos de empaquetado
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Excluir la carpeta target de Maven (donde se generan los builds temporales)
target/

# Archivos de Maven temporales
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Archivos específicos de NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
# Si usas configuraciones locales estrictas que no quieres compartir
# nbproject/

# Archivos de logs
*.log

# Archivos del sistema operativo (Windows / macOS)
.DS_Store
Thumbs.db

# Configuración de otros IDEs por si acaso (VSCode, IntelliJ, Eclipse)
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# Archivos de configuración local (Credenciales de Base de Datos)
src/main/webapp/META-INF/context.xml
